* {
  margin: 0;
  padding: 0;
}

:root {

  --font-family: 'Press Start 2P', cursive;

  --background-color: #282a36;

  --black: #212427;

  --light-blue: #6272a4;

  --white: #f8f8f2;

}

body {
  align-items: center;
  background-clip: border-box;
  background-color: var(--background-color);
  background-image: url(91657.jpg);
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(---body-font);
  gap: 1.25rem;
  margin-top: 2rem;
  text-align: center;
  transition: 300ms;
  user-select: none;
  width: 100vw;
}

h1 {
  font: 1.925rem var(--font-family);
  margin: 0.75rem 0;
}

.btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-color-palette {
  display: flex;
  justify-content: center;
}

.btn-container, .article-color-palette {
  margin-bottom: .75rem;
}

.color {
  border: solid 1px var(--light-blue);
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin: 0.75rem;
}

.article-board {
  align-self: center;
  display: grid;
  width: min-content;
}

.pixel {
  background-color: var(--white);
  border: solid 1px var(--black);
  display: inline-block;
  height: 30px;
  width: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 50px;
  color: var(--white);
  font: 0.875rem var(--font-family);
  margin: 0.5rem;
  padding: 1rem 0.75rem;
  width: 250px;
}

button:hover {
  background-color: #2f15bf;
  transition: 500ms;
}

.board-size-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

#board-size , #generate-board {
  height: 35px;
  width: 50px;
}

.color:hover {
  border: 2px solid var(--white);
  transition: 50ms;
}

.selected,  .selected:hover {
  border: 2px solid var(--white);
  transition: 50ms;
}

.btn, .pixel, .color, a {
  cursor: pointer;
}

.board-size-container {
  display: flex;
  margin: 0.5rem 0;
  width: 70%;
  height: fit-content;
}

label {
  font: .75rem var(--font-family);
  width: 60%;
}

footer {
  font: 0.5rem var(--font-family);
  color: #909191;
}

a {
  color: #909191;
  text-decoration: none;
}